
body {
  background-color: #f8f6f6; 
  display: flex;
  justify-content: center;
  align-items: center; 
  margin: 20px;
}


ul {
  background-color: #e6e6e6; 
  border: 2px solid #000; 
 padding: 0;
 

}



li {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1px solid #000000; 
}


li button {
  color: red; 
  font-size: 20px;
  border: none;
  visibility: hidden; /* Inicialmente oculto */
   
}



li:hover button {
  visibility: visible; /* Mostrar el botón al pasar el mouse */
}

.todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paper {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

/* Agrega estilos adicionales según sea necesario */
